/* Author: valter sörfelt EEdata2 */

body {
	background-color: #330808;

}

a:link, a:visited {
    background-color: rgb(102, 22, 22,); 
    color: white;
    border-radius: 30px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }


  a:hover, a:active {
    background-color: rgb(161, 0, 0,0);
  }
  
  ul {
    position: relative;
  top: 0;
  list-style-type: none;
  margin: 20px;
  padding: 5px;
  overflow: hidden;
}

li a {
	background: rgba(102, 22, 22, 0.6);
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

 ul{
	color: white;
	box-shadow: 20px 20px 4px 12px rgb(43, 11, 11);
  background-image: url;
	border-style: outset;
	border-radius: 30px;
		outline: solid 10px;
		margin: auto;  
		padding: 20px;
		text-align: center;  
	
}
h2 {
  text-align: center;
	line-height: 1.5;
	position: relative;
	color:rgb(250, 250, 250);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
h3{
	line-height: 1.5;
	position: relative;
	color:rgb(250, 250, 250);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
#bild {
  box-shadow: 30px 30px 5px 12px rgb(43, 11, 11);
	background-color:rgb(102, 22, 22);
	border-style: outset; 
	border-radius: 30px;
		outline: #f0f0f0 solid 15px;
		margin: auto;
		padding: 30px;
		max-width: 900px;
}

#bild_1 {
	box-shadow: 30px 30px 5px 12px rgb(43, 11, 11);
	background-color:rgb(102, 22, 22);
	border-style: outset; 
	border-radius: 30px;
		outline: #f0f0f0 solid 15px;
		margin: auto;
		padding: 30px;
		max-width: 900px;
    text-align: center;
}

#v1 {
  
  border-radius: 20px;
  box-shadow: 10px 10px 5px 12px rgb(43, 11, 11);
}
/* Referees till eleven: https://www.w3schools.com/css/default.asp */
